#main {
  margin: 0 8% 0 232px; /* Same as the width of the sidenav */
}
body {
     margin: 60px auto;
     max-width: 1500px;
	background: linear-gradient(to right, white 190px, #bbb, 200px, white, 210px, white);
}
nav {
    margin-left: 232px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.1em;
    margin-right: 8%;
}
nav ul, footer ul {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    background: #eee;
  padding: 6px 8px 6px 8px;
  border-radius: 6px;
}

sidenav {
  height: 100%;
  width: 175px;
  margin-left: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background: linear-gradient(to right, #a0a0a0, 1%, #e0e0e0, 8%, #b0b0b0, 20%, #989898, 94%, #777);
  overflow-x: hidden;
  padding-top: 36px;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  font-weight: bold;
}

sidenav ul {
  list-style: none;
}

sidenav a {
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 1.1em;
  color: #e0e0e0;
  display: block;
}

sidenav a:hover {
  color: #ffffff;
}

nav a, footer a {
    text-decoration: none;
    color: #999;
}
nav a:hover, footer a:hover {
    color: #404040;
}

rightsidebar {
    height: 100%;
    width: 5%;
    right: 1%;
    top: 0;
    background: linear-gradient(to left, #a0a0a0, 92%, #777);
    position: fixed;
    overflow: auto
}

#blogposts {
    font-family: Optima, Candara, Calibri, Arial, sans-serif; line-height: 1.6em;
    color: #333;
    font-size: 1.2em;
	padding-top: .2em;
	padding-bottom: .1em;
}
#pubs {
    font-family: Optima, Candara, Calibri, Arial, sans-serif; line-height: 1.4em;
    color: #333;
    font-size: 1em;
    padding-left: 0;
    text-indent:-1.2em; 
    margin-left:1.2em;
}
#pubs li {
  padding-bottom: .4em;
}
h1 {
    font-size: 2em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    color: #3d3d3d;
}
h2 {
    font-size: 1.5em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    color: #3d3d3d;
}
h3 {
    font-size: 1.2em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    color: #3d3d3d;
}
section {
  clear: both;
}
p {
    font-size: 1em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    line-height: 1.4em;
    color: #333;
}
.hidp {
    font-size: 1em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    line-height: 1.4em;
    color: #333;
}
.hidp:hover {
  color: #fff;
}
table {
    font-size: 1em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    line-height: 1.4em;
    color: #333;
}
.ingress {
  font-size: 1.1em;
  line-height: 1.5em;
}
.leftfig {
    border: 1px solid none;
    padding-left: none;
    padding-right: 25px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: auto;
}
.rightfig {
    border: 1px solid none;
    padding-left: 25px;
    padding-right: none;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: auto;
}
.left {
    float: left;
    width: 48%;
}
.right {
    margin-left: 52%;
}
ul {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    list-style: none;
    line-height: 1.4em;
}
ol {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    line-height: 1.4em;
	color: #333;
}
ol.pic li::before {
  display: inline-block;
  content: "(" counter(item) ") ";
  counter-increment: item;
  width: 2em;
}
a {
  text-decoration: none;
}
footer {
    margin-left: 232px;
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
    margin-right: 8%;
}

ol li:not(:last-child) {
    margin-bottom: 8px;
}

ul.posts { 
    margin: 20px auto 40px; 
    
}

ul.posts li {
    list-style: none;
    line-height: 1.4em;
}

ul.dist li {
  margin-top: 1.1em;
  }

.lefttooltip {
   position: relative;
 }

 .lefttooltip .lefttooltiptext {
  visibility: hidden;
  width: 575px;
  background-color: #808080;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 10px 8px 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 105%;
  text-indent: 0em;
  font-size: 1em;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  line-height: 1.4em;
}

.lefttooltip .lefttooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #808080;
}

 .lefttooltip:hover .lefttooltiptext {
   visibility: visible;
 }

.righttooltip {
   position: relative;
 }

.righttooltip .righttooltiptext {
  visibility: hidden;
  width: 575px;
  background-color: #808080;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 10px 8px 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  text-indent: 0em;
  font-size: 1em;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  line-height: 1.4em;
}

.righttooltip .righttooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #808080 transparent transparent;
}

 .righttooltip:hover .righttooltiptext {
   visibility: visible;
 }

#border1 {
			border: solid;
			border-width: 1px 1px 1px 1px;
      border-color: #D2B48C;
		}

.zoom {
  -webkit-transition: .6s ease;
      -moz-transition: .6s ease;
      -ms-transition: .6s ease;
      transition: .6s ease;
}

.zoom:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5); 
  transform-origin: 100% 0%;
}

.zoomin img {
      -webkit-transition: .6s ease;
      -moz-transition: .6s ease;
      -ms-transition: .6s ease;
      transition: .6s ease;
    }

.zoomin img:hover {
      -ms-transform: scale(2.5); /* IE 9 */
      -webkit-transform: scale(2.5); /* Safari 3-8 */
      transform: scale(2.5); 
      transform-origin: 0% 100%;
    }

.center {
  margin-left: auto;
  margin-right: auto;
}

sup {
    line-height: 0;
}
sub {
    line-height: 0;
}

.bordermask {
  -webkit-mask-box-image: url(/pics/stamptiles.svg) 35 repeat;
   mask-border: url(/pics/stamptiles.svg) 35 repeat;
}

.stamp {
	border: 2px dashed #404040;
	width:334px;
	height:154px;
	margin: -75px auto 0px auto;
	z-index: -1;
}

.gradient {
    position: relative;
    height: 110%;
	
    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: radial-gradient(circle, #fff 50%, transparent 50%), radial-gradient(circle, #fff 50%, transparent 50%);
      background-size: 20px 20px;
      transform: none;
    }
    
    &::before {
      top: 5px;
      text-align: center;
      background-repeat: repeat-y;
      background-position: -10px 0%, calc(100% + 10px) 0;
    }
    
    &::after {
      content: '';
      left: 5px;
      background-repeat: repeat-x;
      background-position: 0 -10px, 0 calc(100% + 10px);
	  }
	}

