#main {
  margin: 0 5% 0 214px; /* Same as the width of the sidenav */
}
body {
     margin: 60px auto;
}
nav {
    border-bottom: 1px solid #d5d5d5;
    font-size: 1em;
}
nav ul, footer ul {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    background: #eee;
  padding: 5px;
  border-radius: 5px;
}

sidenav {
  float: left;
  height: 100%;
  width: 175px;
  margin-left: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color: #a0a0a0;
  overflow-x: hidden;
  padding-top: 36px;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  font-weight: bold;
}

sidenav ul {
  list-style: none;
}

sidenav a {
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 1em;
  color: #e0e0e0;
  display: block;
}

sidenav a:hover {
  color: #ffffff;
}

nav a, footer a {
    text-decoration: none;
    color: #999;
}
nav a:hover, footer a:hover {
    color: #404040;
}

rightsidebar {
    height: 100%;
    width: 5%;
    right: 1%;
    top: 0;
    background-color: #a0a0a0;
    position: fixed;
    overflow: auto
}

#blogposts {
    font-family: Optima, Candara, Calibri, Arial, sans-serif; line-height: 1.8em;
    color: #333;
    font-size: 1.2em;
}
#pubs {
    font-family: Optima, Candara, Calibri, Arial, sans-serif; line-height: 1.4em;
    color: #333;
    font-size: 1em;
    padding-left: 0;
    text-indent:-1.2em; 
    margin-left:1.2em;
}
#pubs li {
  padding-bottom: .4em;
}
h1 {
    font-size: 2em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    color: #3d3d3d;
}
h2 {
    font-size: 1.5em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    color: #3d3d3d;
}
p {
    font-size: 1em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    line-height: 1.4em;
    color: #333;
}
ul {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    list-style: none;
}
a {
  text-decoration: none;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    
}

ul.posts li {
    list-style: none;
}

