#main {
  margin: 0 8% 0 232px; /* Same as the width of the sidenav */
}
body {
     margin: 60px auto;
     max-width: 1500px;
}
nav {
    margin-left: 232px;
    border-bottom: 1px solid #d5d5d5;
    font-size: 1.1em;
    margin-right: 8%;
}
nav ul, footer ul {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    background: #eee;
  padding: 6px 8px 6px 8px;
  border-radius: 6px;
}

sidenav {
  height: 100%;
  width: 175px;
  margin-left: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color: #a0a0a0;
  overflow-x: hidden;
  padding-top: 36px;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  font-weight: bold;
}

sidenav ul {
  list-style: none;
}

sidenav a {
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 1.1em;
  color: #e0e0e0;
  display: block;
}

sidenav a:hover {
  color: #ffffff;
}

nav a, footer a {
    text-decoration: none;
    color: #999;
}
nav a:hover, footer a:hover {
    color: #404040;
}

rightsidebar {
    height: 100%;
    width: 5%;
    right: 1%;
    top: 0;
    background-color: #a0a0a0;
    position: fixed;
    overflow: auto
}

#blogposts {
    font-family: Optima, Candara, Calibri, Arial, sans-serif; line-height: 1.8em;
    color: #333;
    font-size: 1.2em;
}
#pubs {
    font-family: Optima, Candara, Calibri, Arial, sans-serif; line-height: 1.4em;
    color: #333;
    font-size: 1em;
    padding-left: 0;
    text-indent:-1.2em; 
    margin-left:1.2em;
}
#pubs li {
  padding-bottom: .4em;
}
h1 {
    font-size: 2em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    color: #3d3d3d;
}
h2 {
    font-size: 1.5em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    color: #3d3d3d;
}
p {
    font-size: 1em;
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    line-height: 1.4em;
    color: #333;
}
.ingress {
  font-size: 1.1em;
  line-height: 1.5em;
}
.leftfig {
    border: 1px solid none;
    padding-left: none;
    padding-right: 25px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: auto;
}
.rightfig {
    border: 1px solid none;
    padding-left: 25px;
    padding-right: none;
    padding-bottom: 4px;
    padding-top: 4px;
    margin: auto;
}
ul {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    list-style: none;
}
a {
  text-decoration: none;
}
footer {
    margin-left: 232px;
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
    margin-right: 8%;
}

ul.posts { 
    margin: 20px auto 40px; 
    
}

ul.posts li {
    list-style: none;
}

.lefttooltip {
   position: relative;
 }

 .lefttooltip .lefttooltiptext {
  visibility: hidden;
  width: 575px;
  background-color: #808080;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 10px 8px 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 105%;
  text-indent: 0em;
  font-size: 1em;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  line-height: 1.4em;
}

.lefttooltip .lefttooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #808080;
}

 .lefttooltip:hover .lefttooltiptext {
   visibility: visible;
 }

.righttooltip {
   position: relative;
 }

.righttooltip .righttooltiptext {
  visibility: hidden;
  width: 575px;
  background-color: #808080;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 10px 8px 10px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  text-indent: 0em;
  font-size: 1em;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  line-height: 1.4em;
}

.righttooltip .righttooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #808080 transparent transparent;
}

 .righttooltip:hover .righttooltiptext {
   visibility: visible;
 }

#border1 {
			border: solid;
			border-width: 1px 1px 1px 1px;
      border-color: #D2B48C;
		}

.zoom {
  -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      transition: all .5s;
	opacity: 1;
}

.zoom:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5); 
  transform-origin: right top;
}

.zoomin img {
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
	width: 100%;
    }
    .zoomin img:hover {
      -ms-transform: scale(2.5); /* IE 9 */
      -webkit-transform: scale(2.5); /* Safari 3-8 */
      transform: scale(2.5); 
      transform-origin: left bottom;
	    width: 100%;
    }
