<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="utf-8">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="http://kjelljs.github.io/blog/atom.xml">Feed</a></li>
	    		</ul>
			</nav>
			<sidenav>
			<ul>
				<li><a href="/cv">CV</a></li>
	        		<li><a href="/courses">Courses</a></li>
				<li><a href="/dissemination">Dissemination</a></li>
				<li><a href="/misc">Miscellanea</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/editorship">S&P</a></li>
	    		</ul>
			</sidenav>
			<rightsidebar>
			</rightsidebar>
			<div class="container" id="main"></br>
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:k.j.sabo@ilos.uio.no">email</a></li>
	        		<li><a href="https://www.hf.uio.no/ilos/personer/vit/kjelljs/">UiO site</a></li>
				</ul>
			</footer>
		</body>
	</html>
