---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>
<footer>
	    		<ul>
	        		<li><a href="mailto:k.j.sabo@ilos.uio.no">email</a></li>
	        		<li><a href="https://www.hf.uio.no/ilos/personer/vit/kjelljs/">UiO site</a></li>
	        		<li style="background: #eee; padding: 8px 10px 8px 10px; border-radius: 50%;"><a href="/courses/ellipsis/index.html" style="color: default">Ellipsis</a></li>
				</ul>
			</footer>