---
layout: default
---
<div style="float:right;"><figure class="rightfig"><ul style="font-family: Optima, Candara, Calibri, Arial, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;"><li style="background: #ddd; padding: 9px 11px 9px 11px; border-radius: 50%; text-decoration: none;
    color: blue; font-size: 1em;"><a href="/courses/ellipsis/index.html" style="color: blue">Ellipsis</a></li></ul></figure></div>
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>
